/dts-v1/;
/plugin/;

&{/chosen} {
	overlays {
		extras.kernel = __TIMESTAMP__;
	};
};

&main_sdhci1 {
    sdhci-caps-mask = <0x07 0x0>;
};

&main_i2c2 {
	status = "disabled";
};

&main_i2c4 {
	status = "disabled";
};

&main_i2c6 {
	status = "disabled";
};

&main_uart0 {
	status = "disabled";
};

&main_r5fss0 {
    ti,cluster-mode = <1>;
};

&mcu_r5fss0_core0 {
	memory-region = <&mcu_r5fss0_core0_dma_memory_region>,
			<&mcu_r5fss0_core0_memory_region>,
			<&rtos_ipc_memory_region>;
};

&mcu_r5fss0_core1 {
	memory-region = <&mcu_r5fss0_core1_dma_memory_region>,
			<&mcu_r5fss0_core1_memory_region>,
			<&rtos_ipc_memory_region>;
};

&main_r5fss0_core0 {
	memory-region = <&main_r5fss0_core0_dma_memory_region>,
			<&main_r5fss0_core0_memory_region>,
			<&rtos_ipc_memory_region>;
};

&main_r5fss0_core1 {
	memory-region = <&main_r5fss0_core1_dma_memory_region>,
			<&main_r5fss0_core1_memory_region>,
			<&rtos_ipc_memory_region>;
};

&main_r5fss1_core0 {
	memory-region = <&main_r5fss1_core0_dma_memory_region>,
			<&main_r5fss1_core0_memory_region>,
			<&rtos_ipc_memory_region>;
};

&main_r5fss1_core1 {
	memory-region = <&main_r5fss1_core1_dma_memory_region>,
			<&main_r5fss1_core1_memory_region>,
			<&rtos_ipc_memory_region>;
};

&c66_0 {
	memory-region = <&c66_0_dma_memory_region>,
			<&c66_0_memory_region>,
			<&rtos_ipc_memory_region>;
};

&c66_1 {
	memory-region = <&c66_1_dma_memory_region>,
			<&c66_1_memory_region>,
			<&rtos_ipc_memory_region>;
};

&c71_0 {
	memory-region = <&c71_0_dma_memory_region>,
			<&c71_0_memory_region>,
			<&rtos_ipc_memory_region>;
};