[Unit]
Description=DFC IMU Calibration UDP TX
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/dfc-calib-udp.conf
ExecStartPre=/usr/sbin/dfc-wait-net ${DFC_NET_IF} ${DFC_HOST}
ExecStart=/usr/bin/calibration_tx ${DFC_HOST} ${DFC_CALIB_PORT} --rpmsg-name=${DFC_CALIB_RPMSG_NAME}
Restart=always
RestartSec=2
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
