[Unit]
Description=Clone current SD system to eMMC
After=multi-user.target
Wants=multi-user.target
ConditionPathExists=!/etc/EMMC_CLONED_FROM_SD  # prevent re-run on cloned systems

[Service]
Type=oneshot
ExecStart=/usr/sbin/flash-to-emmc
RemainAfterExit=no
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
